@import url(_reset.css);
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Inter:wght@600;700&display=swap');

.body {
    color: #FFFFFF;

    min-height: 100vh;

    background: rgb(0, 0, 0);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgb(1, 31, 11) 25%, rgba(11, 70, 5, 0.85) 50%, rgb(1, 31, 11) 75%, rgba(0, 0, 0, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 1rem;
}

@media screen and (min-width: 1440px) {
    .body {
        padding: 2rem calc((100vw - 1086px)/2);
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slogan {
    font-size: 36px;
    font-weight: 100;
    color: #eee;
}

.slogan__loop {
        overflow: hidden;
        position: relative;
        float: right;
        height: 65px;
        padding-top: 10px;
        margin-top: -10px;
}

.slogan__palavra {
    font-family: Serif;
    color: #eee;
    font-weight: 700;
    padding: 0 10px;
    height: 45px;
    margin-bottom: 45px;
    display: block;
    text-align: center;
}

.flip4 { 
    animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; 
}

@keyframes flip4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -360px; }
}

.divisor {
    display: flex;
    gap: 53px;
    align-items: center;

    margin: 88px 0px 40px;
}

.divisor__line {
    height: 1px;
    width: 282px;
    background-color: #00F4BF;
}

.page-title {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    font-size: 5rem;

    margin-bottom: 2.5rem;
}

.rodape {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.rodape__esquerda {
    display: flex;
    flex-direction: column;
}

.rodape__end {
    width: 200px;
    margin-top: 10px;
}

.lista-rodape {
    display: block;
    margin-top: 1em;
}

.lista-rodape__item {
    display: flex;
    align-items: center;
    margin: 1em 0.5em;
}

.rodape__link {
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #00F4BF;
    -webkit-text-stroke: 0.5px black;
    background-clip: text; 
    margin-left: 0.2em;
}

.page-title__emphasis {
    color: #1875E8;
}

.dashboard {
    background-color: rgba(255, 255, 255, 0.1);

    border-radius: 2rem;
    border-width: 1px;
    border-style: solid;
    border-color: #00F4BF;

    padding: 3rem;
    width: 100%;
}

.dashboard__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.dashboard__items__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    font-family: 'Inter', sans-serif;
}

.dashboard__item__img {
    box-shadow: 0px 0px 24px 8px rgba(11, 70, 5, 0.85); 

    margin-bottom: 1rem;
}

.dashboard__item__img--rented {
    position: relative;
}

.dashboard__item__img--rented::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    
    background-color: rgba(1, 8, 14, 0.4);
}

.dashboard__item__name {
    font-weight: 600;
    font-size: 2rem;

    margin-bottom: 2.5rem;
}

.dashboard__item__button {
    display: flex;
    justify-content: center;

    font-weight: 700;
    font-size: 1.5rem;

    padding: 1rem 1.5rem;
    min-width: 13rem;

    border-radius: 1rem;

    background-color: #1875E8;
}

.dashboard__item__button--return {
    background-color: #01080E;
}

.hachuras {
    margin-top: 1.5rem;
    margin-right: 33px;
    align-self: flex-end;
}

@media screen and (max-width: 768px) {

    .body {
        padding: 1rem;
        background-attachment: scroll;
    }

    .main {
        width: 100%;
    }

    .slogan {
        font-size: 22px;
        text-align: center;
    }

    .slogan__loop {
        float: none;
        height: 45px;
        margin: 0 auto;
    }

    .slogan__palavra {
        font-size: 20px;
        height: 35px;
        margin-bottom: 35px;
    }

    .page-title {
        font-size: 2.8rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    .divisor {
        gap: 16px;
        margin: 48px 0 32px;
    }

    .divisor__line {
        width: 80px;
    }

    .dashboard {
        padding: 1.5rem;
        border-radius: 1.2rem;
    }

    .dashboard__items {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .dashboard__item__name {
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    .dashboard__item__button {
        font-size: 1.2rem;
        padding: 0.8rem 1.2rem;
        min-width: auto;
        width: 100%;
    }

    .dashboard__item__img img {
        width: 100%;
        height: auto;
        max-width: 220px;
    }

    .rodape {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        text-align: center;
    }

    .rodape__esquerda {
        align-items: center;
    }

    .rodape__end {
        width: 100%;
        margin-top: 0;
    }

    .lista-rodape__item {
        justify-content: center;
    }

    .hachuras {
        align-self: center;
        margin-right: 0;
    }
}
